body,
html {
  margin: 0;
  height: 100%;
  font-family: "Lato";
  font-size: 20px;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  background-color: gainsboro;
}

.content {
  margin-left: 15%;
}


.parallax-container {
  position: relative;
  background-image: url("../media/VelvetEyes.jpg");
  min-height: 250px;

  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container2 {
  position: relative;
  background-image: url("../media/waterfall.jpg");
  min-height: 250px;

  background-attachment: fixed;
  background-position: 75% 85%;
  background-repeat: no-repeat;
  background-size: cover;
}


/* SIDEBAR */

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.card {
  background-color: inherit;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 50px;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

.avatar img {
  border-radius: inherit;
  height: auto;
  max-width: 85%;
}

ul{
  list-style-type: none;
  padding: 0;
}

.lists{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.link-list > li {
  display: block;
  width: 1em;
  height: auto;
  margin: 2px;
  display: inline-block;
}



/* CONTENT */
section{
  margin-left: 2em;
  padding: 10px;
  display: block;
  font-size: .9em;
}

.about-me {
  width: 50%;
  display: block;
  font-size: .9em;
}

.name {
  font-size: 32px;
}
.title {
  font-size: 20px;
}

.kenzie,
.kenzie:hover,
.kenzie:active,
.kenzie:visited {
  text-decoration: none;
  color: #02568b;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-icon{
  width: 100px;
  height: 100px;
}

.project {
  display: flex;
  margin: 10px;
}

.project-icon{
  margin-right: 2em;
}



/* #00356B,#333333,#737373,#FFFFFF,#02568B,#FFFFFF,#A6FFDC,#D0021B */
