body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Lato";
  font-size: 1.15em;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  background-color: gainsboro;
}

ul{
  list-style-type: none;
  padding: 0;
}
.main-container{
  width: 100%;
}
.content {
  margin-left: 15%;
  height: 100vh;
}

.parallax-container {
  position: relative;
  background-image: url("../media/VelvetEyes.jpg");
  min-height: 350px;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  font-size: 1.4em;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  transition: all 0.75s ease-in-out;
}

.collapsed  {
  display: none;
  transform: translate(-150%, 0px);
}

/* SIDEBAR CONTENT */

.card {
  background-color: inherit;
  margin-top: 1em;
  margin-bottom: 30px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  border-radius: 50px;
  margin-bottom: .3em;
  width: 100%;
  height: auto;
}

.avatar img {
  border-radius: inherit;
  height: auto;
  max-width: 85%;
}

.navigation{
  width: 100%;
  font-size: 1em;
}

.page-sections{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-section > a{
  text-decoration: none !important;
  color: white;
  font-size: 1em;

}


.link-list > li {
  text-decoration: none;
  display: block;
  width: 1em;
  height: auto;
  margin: 2px;
  display: inline-block;
}

.link-list > li > a{
  text-decoration: none !important;
  color: white;
}

/* HEADING */

.header-container{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.header-img{
  width: 100%;
}

.intro{
  position: absolute;
  color: white;
  left: 10%;
  top: 25%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
.intro-text{
  font-size: 42px;
}

.resume-button{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.resume-button:hover{
  background-color: white;
  color: black;
}

/* CONTENT */

section{
  padding-left: 2em;
  padding: 10px;
  display: block;
  font-size: .9em;
}

/* current section */
.current-section{
  color: white !important;
  text-decoration: underline !important;
}

/* ABOUT ME */

.about-me {
  margin-left: 50px;
  width: 50%;
  display: block;
  font-size: .9em;
}

.name {
  font-size: 32px;
}
.title {
  font-size: 20px;
}

.kenzie,
.kenzie:hover,
.kenzie:active,
.kenzie:visited {
  text-decoration: none;
  color: #02568b;
}

/* PROJECTS */
.projects {
  margin-left: 50px;
  padding: 10px;
}
.project-header{
  margin-bottom: 50px;
}
.project-container{
  display: flex;
  flex-direction: column;
}
.project-icon{
  width: 100px;
  height: 100px;
  margin-right: 2em;
}
.project-text > a{
  color: black;
}
.connect4{
  border-radius: 50%;
}

.project {
  display: flex;
  margin: 25px;
}

/* EXPERIENCE */

.experience{
  padding: 30px;
  margin-left: 50px;
}
.experience-header{
  margin-bottom: 50px;
}
.skills{
  display: flex;
}
.tech-stack{
  display: grid;
  width: 45%;
  margin-right: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(30px,.5fr) );
}

.icons{
  width: 4rem;
  filter: grayscale(100%);
  margin: auto;
  text-align: center;
}
.icons img {
  margin-right: 10px;
  width: 100%;
}

.icons:hover{
  filter: grayscale(0);
}
.personal-heading{
  text-decoration: underline;
}
.personal-skills{
  width: 50%;
  font-size: 1.5em;
  text-align: center;
}

/* CONTACT INFO */
.contact{
  width: 100%;
  position: relative;
}
.contact-heading {
  text-align: center;
  margin-bottom: 30px;
}
.contact-methods {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.contacts {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contacts > i {
  margin-right: 10px;
}
.linked-in > i{
  margin-right: 10%;
  color: #0072b1;
}
.linked-in-text{
  text-decoration-line: none;

}
.copyright{
  position: absolute;
  text-align: center;
  font-size: 16px;
  bottom: 10px;
  left: 40%;
}

/* MOBILE */
.navbar{
  width: 100%;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  z-index: 100;
}
.nav-button{
  border: none;
  background: none;
  color: white;
}

@media only screen and (max-width: 1200px) {
  body,html{
    width: 100%;
  }
  .page-section{
    font-size: .7em;
  }
  .header-container{
    height: 50vh;
  }
  .collapsed {
    display: block;
    margin-left: -15%;
  }
  .content{
    width: 85%;
    margin-left: 15%;
  }
  .about-me{
    width: 90%;
  }
  .icons{
    filter: grayscale(0);
  }
 
}


@media only screen and (min-width: 768px) and (max-width:1199px){
  .sidebar{
    margin-top: 10px;
  }
  .content{
    width: 100%;
    margin-left: 0;
  }
  .page-section{
    font-size: .7em;
  }
  .link-list{
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (min-width: 600px) and (max-width:768px){
  .sidebar{
    width: 20%;
    margin-top: 50px;
    font-size: .7em;
  }
  .page-section{
    font-size: 1em;
  }
  .content{
    width: 100%;
    margin-left: 0;
  }
  .project-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-methods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacts{

    width: 70%;
  }
  .contact > i{
    width: 90px;
    height: 90px;
  }

}

@media only screen and (max-width:600px) {
  .sidebar{
    width: 40%;
    margin-top: 50px;
    font-size: .7em;
  }
  .page-section{
    font-size: 1em;
  }
  .content{
    width: 100%;
    margin-left: 0;
  }
  .parallax-container{
    background-position: 30% 100%;
  }
  .project{
    display: block;
    margin-bottom: 10px;
  }
  .project-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .experience{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
  }
  .skills{
    flex-direction: column;
  }
  .tech-stack{
    width: 90%;
    justify-items: center;
    margin-bottom: 50px;
  }
  .personal-skills{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-heading{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .contact-methods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacts{
    width: 70%;
  }
  .contact > i{
    width: 60px;
    height: 60px;
  }
}